header{
    height: 100px;
    background:linear-gradient(rgb(20, 135, 118),black);
    margin-top: -25px;
    margin-right: -20px;
    margin-left: -20px;
}
header img{
    float: left;

}
header h1{
    margin-left: 600px;
    padding-top: 30px;
    color:red;
    font-size: 50px;
    font-style: italic;
    font-family:fantasy;
   
}


nav{
    background:linear-gradient(rgb(20, 135, 118),black);
    padding: 10px;
    margin-right: -10px;
    margin-left: -10px;
}
nav ul li a{
    color: red;
    text-decoration: none;
    padding: 80px;
   
}
nav  ul li a:hover{
    color: blue;
   

}
nav ul li{
    display: inline;
    padding: 10px;
    border-right:2px solid cornflowerblue;
}
article img{
   
    float: left;
    margin-right: 20px;
    
   
}
article{
    margin-left: 370px;
    width: 700px;
    
}
.right_sidebar{
    float: right;
    margin-right: 100px;
    margin-top: -850px;
    
}
.right_sidebar ul li a{
    text-decoration:none;
   padding: 20px;
   font-size: 200%;
  
}
.left_sidebar{
    float: left;
    margin-right: 100px;
    margin-top: 50px;
}
.left_sidebar ul li a{
    text-decoration:none;
   padding: 20px;
   font-size: 200%;
  
}
footer{
            
    background:black;
    color:red;
    padding: 5px;
    margin-left: -10px;
    margin-right: -10px;
    
}
footer p{
    margin-left: 700px;
    font-size: 20px;
}
